actix-web/target
actix-web/.env

falcon-api/.idea
falcon-api/.venv
falcon-api/.DS_Store
falcon-api/.envrc
falcon-api/.python-version
falcon-api/.python-virtualenv
falcon-api/.env

__pycache__/
*.py[cod]
